{{#if (not session.isAuthenticated)}}
<form {{action "send" on="submit"}}>
    {{input data-test-login-username=true class="form-control" value=username placeholder="insert your username" type="text"}}
    {{input data-test-login-password=true  class="form-control" value=password placeholder="insert your password" type="password"}}
    
        <div class="alert {{if e 'alert-warning'}}">{{message}}</div>
    
    
    <button data-test-send-login=true class="btn btn-primary" type="submit">Login</button>
</form>
{{else}}
    <button data-test-logout=true {{action "deauthenticate"}} class="btn btn-secondary" type="submit">Logout</button>
{{/if}}