{{#if (not session.isAuthenticated)}}
<form {{action "send" on="submit"}}>
    {{input id="loginDialog_username" class="form-control" value=username placeholder="insert your username" type="text"}}
    {{input id="loginDialog_password"  class="form-control" value=password placeholder="insert your password" type="password"}}
    
        <div class="alert {{if e 'alert-warning'}}">{{message}}</div>
    
    
    <button class="btn btn-primary" type="submit">Login</button>
</form>
{{else}}
    <button {{action "deauthenticate"}} class="btn btn-secondary" type="submit">Logout</button>
{{/if}}